SECRET_KEY=your_django_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=cranetrack_db
DB_USER=cranetrack_user
DB_PASSWORD=cranetrack_password

# Frontend environment variables
VITE_API_URL=http://localhost:8000/api
